html, body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #fff;
}

button {
  margin: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
table td, table th {
  padding: 15px;
}

ion-icon {
  font-size: 32px;
}
table tr:nth-child(even) { 
  background: rgb(10, 10, 10);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
textarea {
  overflow:hidden;
  resize:none;
  width:300px;
  font-family: 'Nunito', sans-serif;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
}
.global_container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container {
  position: absolute;
  transition: .4s ease transform;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);
  border-radius: 20px;
  height: 220px;
  width: 350px;
  padding: 50px;
}
.approve_container {
  position: absolute;
  transition: .4s ease transform;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);
  border-radius: 20px;
  width: 80%;
  overflow: auto;
  height: 80%;
}
.label {
  color: rgb(180, 180, 180);
  margin-bottom: 5px;
}
input {
  background: rgba(10, 10, 10, 0.5);
  border: none;
  padding: 10px;
  color: rgb(180, 180, 180);
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  width: 300px;
}
input:focus {
  outline: 2px solid rgb(180, 180, 180);
}
.required {
  color: #de4f1f; 
}
.login {
  width: 320px !important;
  padding: 20px 40px 20px 40px;
  color: rgb(200, 200, 200);
  background: #c94923;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  transition: .4s ease background;
  cursor: pointer;
}
.content_td {
  width: 400px;
}
